<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css_custom/custon_style.css}">
    <title>Testing_Rest_API</title>
</head>
<body>
<!--    <svg height="600px" width="600px" style="border: 5px solid chocolate"></svg>-->
    <hr>
    <button class="btn btn-outline-info" onclick="parseRequest()">Request</button>
    <section></section>>
</body>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js_custom/rest_script.js}"></script>
</html>