
<html>
<head>
    <title>Toolbar example for mxGraph</title>
    </head>
<body onload="main();">
</body>
<script type="text/javascript">
    mxBasePath = '../static';
</script>
<script type="text/javascript" src="/static/js/mxClient.js"></script>
<script>

    // Программа запускается здесь. Создает образец графика в узле
    // DOM с указанным идентификатором. Эта функция вызывается
    // из обработчика событий onLoad документа (см. ниже).
    function main()
    {
        // Определяет значок для создания новых соединений в обработчике соединений.
        // Это автоматически отключит подсветку исходной вершины.
        mxConnectionHandler.prototype.connectImage = new mxImage('/static/images/connector.gif', 16, 16);

        // Проверяет, поддерживается ли браузер
        if (!mxClient.isBrowserSupported())
        {
            // Выводит сообщение об ошибке, если браузер
            // не поддерживается.
            mxUtils.error('Browser is not supported!', 200, false);
        }
        else
        {
            // Создает div для панели инструментов
            var tbContainer = document.createElement('div');
            tbContainer.style.position = 'absolute';
            tbContainer.style.overflow = 'hidden';
            tbContainer.style.padding = '2px';
            tbContainer.style.left = '0px';
            tbContainer.style.top = '26px';
            tbContainer.style.width = '24px';
            tbContainer.style.bottom = '0px';

            document.body.appendChild(tbContainer);

            // Создает новую панель инструментов без обработки событий
            var toolbar = new mxToolbar(tbContainer);
            toolbar.enabled = false

            // Создает div для графика
            container = document.createElement('div');
            container.style.position = 'absolute';
            container.style.overflow = 'hidden';
            container.style.left = '24px';
            container.style.top = '26px';
            container.style.right = '0px';
            container.style.bottom = '0px';
            container.style.background = 'url("editors/images/grid.gif")';

            document.body.appendChild(container);

            // Обходной путь для Internet Explorer, игнорирующий определенные стили
            if (mxClient.IS_QUIRKS)
            {
                document.body.style.overflow = 'hidden';
                new mxDivResizer(tbContainer);
                new mxDivResizer(container);
            }

            // Создает модель и график внутри контейнера
            // используя самый быстрый рендеринг, доступный в браузере
            var model = new mxGraphModel();
            var graph = new mxGraph(container, model);
            graph.dropEnabled = true;

            // Совпадения И внутри графика
            mxDragSource.prototype.getDropTarget = function(graph, x, y)
            {
                var cell = graph.getCellAt(x, y);

                if (!graph.isValidDropTarget(cell))
                {
                    cell = null;
                }

                return cell;
            };

            // Позволяет создавать новые соединения на графике
            graph.setConnectable(true);
            graph.setMultigraph(false);

            // Редактирование прекращается при нажатии клавиши enter или escape
            var keyHandler = new mxKeyHandler(graph);
            var rubberband = new mxRubberband(graph);

            var addVertex = function(icon, w, h, style)
            {
                var vertex = new mxCell(null, new mxGeometry(0, 0, w, h), style);
                vertex.setVertex(true);

                addToolbarItem(graph, toolbar, vertex, icon);
            };



            //-----------------------------------------------

            function create_logic_and(){
                var and = graph.insertVertex(null, null, '', 300, 300, 90, 90, 'shape=image;image=/static/images/logic/AND1_ANSI.svg.png');
                and.setConnectable(false);

                //cross, line,
                var and_in1 =graph.insertVertex(and, null, 'in1', 0.37, 1, 5, 5,
                    'shape=;align=right;verticalAlign=middle;fontSize=10;routingCenterX=0.5;'+
                    'spacingRight=12;fontColor=' + fontColor + ';strokeColor=' + strokeColor);
                and_in1.geometry.relative = true;
                and_in1.geometry.offset = new mxPoint(and_in1.geometry.high, -4);


                var and_in2 =graph.insertVertex(and, null, 'in2', 0.57, 1, 5, 5,
                    'shape=;align=;verticalAlign=middle;fontSize=10;routingCenterX=-0.5;'+
                    'spacingLeft=12;fontColor=' + fontColor + ';strokeColor=' + strokeColor);
                and_in2.geometry.relative = true;
                and_in2.geometry.offset = new mxPoint(and_in2.geometry.high, -4); //управляет расположением

                var and_out =graph.insertVertex(and, null, 'out', 0.47, 0, 5, 5,
                    'shape=;align=;verticalAlign=middle;fontSize=10;routingCenterX=-0.5;'+
                    'spacingLeft=12;fontColor=' + fontColor + ';strokeColor=' + strokeColor);
                and_out.geometry.relative = true;
                and_out.geometry.offset = new mxPoint(and_out.geometry.high, 0); //управляет лейблом

            }
            //-----------------------------------------------




            addVertex('/static/images/AND1_ANSI.gif',100,100,'shape=image;image=/static/images/logic/AND1_ANSI.svg.png');
            // addVertex('editors/images/swimlane.gif', 120, 160, 'shape=swimlane;startSize=20;');
            // addVertex('editors/images/rectangle.gif', 100, 40, '');
            // addVertex('editors/images/rounded.gif', 100, 40, 'shape=rounded');
            // addVertex('editors/images/ellipse.gif', 40, 40, 'shape=ellipse');
            // addVertex('editors/images/rhombus.gif', 40, 40, 'shape=rhombus');
            // addVertex('editors/images/triangle.gif', 40, 40, 'shape=triangle');
            // addVertex('editors/images/cylinder.gif', 40, 40, 'shape=cylinder');
            // addVertex('editors/images/actor.gif', 30, 40, 'shape=actor');
            toolbar.addLine().addLine();


            var button = mxUtils.button('Create toolbar entry from selection', function(evt)
            {
                if (!graph.isSelectionEmpty())
                {
                    // Создает копию массива выделения для сохранения его состояния
                    var cells = graph.getSelectionCells();
                    var bounds = graph.getView().getBounds(cells);

                    // Функция, которая выполняется при перемещении изображения на
                    // график. Аргумент cell указывает на ячейку под
                    // // указателем мыши, если таковой имеется.
                    var funct = function(graph, evt, cell)
                    {
                        graph.stopEditing(false);

                        var pt = graph.getPointForEvent(evt);
                        var dx = pt.x - bounds.x;
                        var dy = pt.y - bounds.y;

                        graph.setSelectionCells(graph.importCells(cells, dx, dy, cell));
                    }

                    // Создает изображение, которое используется в качестве значка перетаскивания (предварительный просмотр)
                    var img = toolbar.addMode(null, 'editors/images/outline.gif', funct);
                    mxUtils.makeDraggable(img, graph, funct);
                }
            });

            button.style.position = 'absolute';
            button.style.left = '2px';
            button.style.top = '2px';

            document.body.appendChild(button);
        }
    }

    function addToolbarItem(graph, toolbar, prototype, image)
    {
        // Функция, которая выполняется при перемещении изображения на
        //  граф. Аргумент cell указывает на ячейку под
        // указателем мыши, если таковой имеется.
        var funct = function(graph, evt, cell)
        {
            graph.stopEditing(false);

            var pt = graph.getPointForEvent(evt);
            var vertex = graph.getModel().cloneCell(prototype);
            vertex.geometry.x = pt.x;
            vertex.geometry.y = pt.y;

            graph.setSelectionCells(graph.importCells([vertex], 0, 0, cell));
        }

        // Создает изображение, которое используется в качестве значка перетаскивания (предварительный просмотр)
        var img = toolbar.addMode(null, image, funct);
        mxUtils.makeDraggable(img, graph, funct);
    }


</script>
</html>
